<div id="toolbar">
  <button (click)="treeview.create(true)" [disabled]="!selectedItem">
    <i class="fa fa-folder-o" aria-hidden="true"></i>
  </button>
  <button (click)="treeview.create(false)" [disabled]="!selectedItem">
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
  </button>
  <button (click)="treeview.rename()" [disabled]="!selectedItem">
    <i class="fa fa-i-cursor" aria-hidden="true"></i>
  </button>
  <button (click)="treeview.delete()" [disabled]="!selectedItem || selectedItem == project">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </button>
</div>
<br/><br/>
<sd-treeview #treeview [project]="project"
  (selected)="onSelected($event)"
  (created)="onCreated($event)"
  (renamed)="onRenamed($event)"
  (deleted)="onDeleted()"
  (moved)="onMoved($event)"></sd-treeview>