:host {
  /* display: block; */
  padding: 0 16px;
}


md-sidenav-container {
  background-color: #f2eae1;
  width: 100%;
  min-height: 100vh;
  /* calc(100vh- 50px); */
}
md-sidenav-container md-sidenav {
  max-width: 340px;
}
md-sidenav-container .mat-sidenav-content,
md-sidenav-container md-sidenav {
  background-color: #f2eae1;
  display: flex;
  overflow: visible;
  height:100%;
}
.example-scrolling-content {
  overflow: auto;
}
.mat-sidenav {
  background-color: #f2eae1;
}
/* .fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
} */
.toggler {
  min-width: 38px;
  outline: 0;
}

button {
  color: #4f4f51;
  background-color: #f2eae1;
  transition: background-color 0.2s ease 0s;
  font-size: 14px;
  width:38px;
  height:38px;
  float:left;
  outline: 0;
  outline-color: #a53b2b;
  border: 0;
  margin: 0px 2px;
  padding: 0;
  cursor: pointer;
}

button:hover {
  background-color: #e0dad3;
}

button:active {
  background-color: #cecac4;
}

button:disabled {
  color: #b3ada7;
  cursor: auto;
}






td {
  vertical-align: top;
  border: 0 solid #e1e1e1;
  padding: 16px 0px;
}

sd-explorer {
  /* width: 230px; */
  /* float:left; */
}

sd-editor {
  /* left: 250px; */
  /* right: 20px; */
  /* max-width: 640px; */
}

#annexe {
  float:left;
}

#annexe li {
  list-style: none;
  padding-left: 30px;
  height: 16px;
}

#annexe i {
  padding-right: 10px;
  width:16px;
  cursor: pointer;
}

#annexe input {
  height: 16px;
  width: 300px;
  background-color: #f2eae1;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #4f4f51;
  float:right;
}

#annexe input.cancelled {
  color: #8f8f8f;
  text-decoration:line-through;
}

#annexe li.cancelled {
  color: #8f8f8f;
  text-decoration:line-through;
}

#annexe li.done {
  color: #8f8f8f;
}

input {
  height:25px;
  width:130px;
  margin: 0;
  padding: 0;
  border:0;
  float:left;
}