.actionbar-sidenav {
  position: fixed;
  top: 48px;
  height: 100%;
  width: 38px;
}

.explorer-sidenav {
  width: 260px;
  height: 100%;
  position: fixed;
}

.editor-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

#title {
  position: fixed;
  top: 0px;
  left: 112px;
  z-index: 3000;
}

#naming-message {
  color: #cc3c26;
}

#naming-input {
  padding-left: 7px;
  border: 0;
  border-radius: .25rem;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
  color: #cccccc; /* #f2eae1; */
}

button {
  margin-left: 10px;
}

button:focus {
  box-shadow: none;
}

mat-sidenav-container {
  background-color: #f2eae1;
}

mat-sidenav {
  background-color: #f2eae1;
}

mat-sidenav-content {
  background-color: #f2eae1;
}

mat-drawer-container {
  background-color: #f2eae1;
}

mat-drawer {
  background-color: #f2eae1;
}

mat-drawer-content {
  background-color: #f2eae1;
}