
mat-sidenav-container {
  background-color: #f2eae1;
}

mat-sidenav {
  background-color: #f2eae1;
}

mat-sidenav-content {
  background-color: #f2eae1;
}

mat-drawer-container {
  background-color: #f2eae1;
}

mat-drawer {
  background-color: #f2eae1;
}

mat-drawer-content {
  background-color: #f2eae1;
}

.actionbar-sidenav {
  width: 38px;
  height: 100%;
}

.explorer-sidenav {
  width: 260px;
  height: 100%;
  position: fixed;
}

.editor-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
sd-actionbar {
  transform: translateX(-500%);
  -webkit-transform: translateX(-500%);
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-300px); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-300px); }
} */

::-webkit-scrollbar {
  width: 7px;
  margin-left: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #b3ada7;
}

::-webkit-scrollbar-thumb {
  background:#838384;
}

::-webkit-scrollbar-thumb:hover {
  background:  #4a4c4f;
}
