<sd-toast [message]="toast.message"></sd-toast>

<div class="card">
  <div class="card-header"><h1>Sign in</h1></div>
  <div class="card-block">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group" [ngClass]="setClassUsername()">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="username" name="username" formControlName="username" placeholder="Username" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Login</button>
    </form>
  </div>
  <div class="card-footer">
    New to Scribo?&nbsp;&nbsp;<a [routerLink]="['/register']">Create an account!</a>
  </div>
</div>