.card {
  width:340px;
  position: fixed;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.input-group {
  width: 300px;
  padding-top: 10px;
  margin: 0 auto;
}

.input-group-addon {
  width:40px;
}

.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}