:host {
  background: #24292f;
  position:fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  color: #cccccc; /* #f2eae1; */
  background-color: #24292f;
  transition: background-color 0.2s ease 0s;
  font-size: 14px;
  width:38px;
  height:38px;
  float:left;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

button:hover {
  background-color: #4F5358;
}

button:active {
  background-color: #7B7E82;
}

button:disabled {
  color: #b3ada7;
  cursor: auto;
}
