<button (click)="toggleActionbar()">
  <!-- <i class="fa fa-files-o" aria-hidden="true"></i> -->
  <i class="fa fa-caret-square-o-left" aria-hidden="true" *ngIf="!hide"></i>
  <i class="fa fa-caret-square-o-right" aria-hidden="true" *ngIf="hide"></i>
</button>
<button (click)="save()">
  <i class="fa fa-floppy-o" aria-hidden="true"></i>
</button>
<button (click)="showExplorer()">
  <i class="fa fa-files-o" aria-hidden="true"></i>
</button>
<button (click)="showExport()">
  <i class="fa fa-download" aria-hidden="true"></i>
</button>
<button (click)="showSheeter()">
  <i class="fa fa-wpforms" aria-hidden="true"></i>
</button>