:host {
  float: left;
}

input {
  height: 25px;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  background-color: unset;
}

button {
  color: #b3ada7;
  background-color: #35383d;
  transition: background-color 0.2s ease 0s;
  font-size: 14px;
  width:38px;
  height:38px;
  float:left;
  outline: 0;
  border: 0;
  margin: 0px 2px;
  padding: 0;
  cursor: pointer;
}

button:hover {
  background-color: #f2eae1;
   /* #e0dad3; */
}

button:active {
  background-color: #d3ccc4;
   /* #cecac4; */
}

button:disabled {
  color: #4f4f51;
  cursor: auto;
}

#toolbar {
  position: relative;
  z-index: 1;
  margin-left: 2px;
}
