<div id="toolbar">
  <button (click)="createFolderFromNode(selectedNode)"
    [disabled]="!selectedNode || !showNewFolder"
    [matTooltip]="newFolderLabel">
    <i class="fa fa-folder-o" aria-hidden="true"></i>
  </button>
  <button (click)="createFileFromNode(selectedNode)"
    [disabled]="!selectedNode || !showNewFile"
    [matTooltip]="newFileLabel">
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
  </button>
  <button (click)="startRenaming(selectedNode)"
    [disabled]="!selectedNode"
    matTooltip="Rename">
    <i class="fa fa-i-cursor" aria-hidden="true"></i>
  </button>
  <button (click)="delete(selectedNode)"
    [disabled]="!selectedNode || selectedNode.Level == 0"
    matTooltip="Delete">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </button>
</div>

<p-tree
  [(selection)]="selectedNode"
  [value]="tree"
  [contextMenu]="cm"
  (onNodeSelect)="selectEvent($event.node)"
  (onNodeDrop)="moveEvent($event)"
  (onNodeContextMenuSelect)="setMenuEvent($event.node)"
  draggableNodes="true"
  droppableNodes="true"
  dragdropScope="files"
  selectionMode="single">
</p-tree>
<p-contextMenu #cm appendTo="body" [model]="contextMenu" ></p-contextMenu>

<div class="drop-blocker"></div>
