<div id="notes" *ngIf="file.notes?.length > 0"> 
  <span><strong>Notes</strong></span>
  <li *ngFor="let note of file.notes" [class.cancelled]="note.status < 0"> 
    <i class="fa fa-check-square-o" aria-hidden="true" *ngIf="note.status == 1" (click)="clickNote(note)"></i> 
    <i class="fa fa-square-o" aria-hidden="true" *ngIf="note.status == 0" (click)="clickNote(note)"></i> 
    <i class="fa fa-times" aria-hidden="true" *ngIf="note.status == -1" (click)="clickNote(note)"></i> 
    <!-- <textarea class="form-control animated" [(ngModel)]="note.text"  [class.cancelled]="note.status < 0"></textarea>  -->
    <div class="editor" [froalaEditor]='options' [(froalaModel)]="note.text"></div> 

  </li> 
</div>    <!--<div *ngIf="note.status < 0">{{node.text}}</div>-->