/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  font-weight: unset;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  margin-left: 10px;
  position: sticky;
  /* background:#24292F; */
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #b3ada7;
}

::-webkit-scrollbar-thumb {
  background:#838384;
}

::-webkit-scrollbar-thumb:hover {
  background:  #4a4c4f;
}

html, body {
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #4f4f51;
  background-color: #f2eae1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  /* overflow-y: scroll; */
}

h1 {
  font-family: 'Vollkorn', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  color: #4f4f51;
	line-height: 26.4px;
}

h2 {
  font-family: 'Vollkorn', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  color: #4f4f51;
	line-height: 15.4px;
}

h3 {
  font-family: 'Vollkorn', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  color: #4f4f51;
	line-height: 15.4px;
}

p {
  font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
  color: #4f4f51;
	line-height: 20px;
}

a {
  color: #a53b2b;
}

a:hover {
  color: #4f4f51;
}

blockquote {
  font-family: 'Lato', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
  color: #4f4f51;
	line-height: 30px;
}

pre {
  font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
  color: #4f4f51;
	line-height: 18.5667px;
}

::selection {
  background: #cccccc;
}

ul {
  margin: 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

button {
  outline: none !important;
}

.btn-basic {
  background-color: #24292f;
  border-color: #24292f;
  border-style: none;
  color: #cccccc; /* #f2eae1; */
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
  cursor: pointer;
  outline-style: none;
}

.btn-basic:hover {
  background-color: #afb1b3;
}

.btn-default {
  cursor: pointer;
  outline-style: none;
}

.btn-primary {
  background-color: #a53b2b;
  border-color: #a53b2b;
  cursor: pointer;
  outline-style: none;
}

.btn-primary:hover {
  background-color: #68251b;
  border-color: #68251b;
}

.btn-primary:disabled {
  background-color: #a8665c;
  border-color: #a8665c;
}

.card {
  background-color: #f8f4f0;
}

.card-header {
  background-color: #24292f;
  color: #cccccc; /* #f2eae1; */
}

.card-header h1 {
  color: #cccccc; /* #f2eae1; */
  text-align: center;
}

.card-footer {
  background-color: #24292f;
  color: #cccccc; /* #f2eae1; */
}

.card-footer a {
  color: #ba1f07;
}

.modal-body {
  background-color: #f8f4f0;
}

.modal-header {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  background-color: #24292f;
  color: #cccccc; /* #f2eae1; */
  padding: 10px;
}

.modal-header button.close {
  color: #cccccc; /* #f2eae1; */
  cursor: pointer;
}

.modal-header h1 {
  color: #cccccc; /* #f2eae1; */
  text-align: center;
  padding : 0 0 0 0;
}

.modal-footer {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
  background-color: #24292f;
  color: #cccccc; /* #f2eae1; */
  padding: 10px;
}

.modal-footer a {
  color: #ba1f07;
}
