:host {
  overflow: auto;
}

@media screen and (min-width: 800px) {
  .editor {
    max-width: 520px;
  }
}

@media screen and (min-width: 900px) {
  .editor {
    max-width: 620px;
  }
}

@media screen and (min-width: 1000px) {
  .editor {
    max-width: 720px;
  }
}

@media screen and (min-width: 1100px) {
  .editor {
    max-width: 820px;
  }
}

@media screen and (min-width: 1200px) {
  .editor {
    max-width: 920px;
  }
}

@media screen and (min-width: 1300px) {
  .editor {
    max-width: 1200px;
  }
}

