:host {
  display: block;
  padding: 0 16px;
}

ul {
  list-style-type: none;
}

button {
  width:200px;
  color: #f2eae1;
}

/*.border-gray-dark {
  display: flex;
  width: 359px;
  border: 1px #e1e4e8 solid;
  border-color: #d1d5da;
  border-radius: 3px;
}*/