<sd-login *ngIf="!auth.loggedIn; else logged"></sd-login>
<ng-template #logged>
  <sd-toast [message]="toast.message"></sd-toast>
  <sd-loading [condition]="isLoading"></sd-loading>

  <ul *ngIf="projects">
    <li *ngFor="let project of projects">
      <button class="btn btn-basic" (click)="select(project)">
        {{project.name}}
      </button>
    </li>
    <li *ngIf="creation">
      <input [(ngModel)]="name" placeholder="Name" />
      <button class="btn btn-primary" (click)="save()">
        <i class="fa fa-save" aria-hidden="true"></i> Create
      </button>
    </li>
    <li *ngIf="!creation">
      <button class="btn btn-basic" id="new" (click)="create()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span style="padding-left:10px">New Project</span>
      </button>
    </li>
  </ul>

</ng-template>
