:host {
  display: block;
  padding: 0 16px;
}

ul {
  list-style-type: none;
}

button {
  width:200px;
  color: #f2eae1;
}

#newProject {
  background-color: #74777b ;
}

#newProject:hover {
  background-color: #afb1b3;
}

.btn-primary {
  background-color: #a53b2b;
  border-color: #a53b2b;
  width:120px;
  margin-left:10px;
  height:35px;
}

input {
  background-color: #24292f;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
  text-align: center;
}